@model Form112.Models.ReservationViewModels
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/Scripts/Destinations/DetailScript.js"></script>
}


@using (Html.BeginForm("validerReservation", "Reservation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Faire une réservation</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="col-lg-9">
        <h4>Complement d'informations.</h4>
        <hr />
        <h4>Adresse de facturation.</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Ligne1, new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Ligne1, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Ligne2, new { @class = "col-md-4 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Ligne2, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Ligne3, new { @class = "col-md-4 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Ligne3, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CodePostal, new { @class = "col-md-4 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.CodePostal, new { @class = "form-control" })
            </div>
        </div>

        <h4>Paiement</h4>
        <hr />
        <h4>Payer par :</h4>
        <div class="form-group">
            @Html.Label("Carte bancaire")
            <div class="col-md-1">
                @Html.CheckBox("id1")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("PayBal")
            <div class="col-md-1">
                @Html.CheckBox("id2")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumCart, new { @class = "col-md-4 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.NumCart, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateFin, new { @class = "col-md-4 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.DateFin, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Cryp, new { @class = "col-md-4 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Cryp, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="col-md-3">
        @Html.Action("DetailCroisiere", "Reservation", new { id = @ViewBag.idCroi })
        <select name="NbPlace">
            <option value="" selected>Nombre de personne(s)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <input type="hidden" value="@User.Identity.GetUserId()" name="IdUser" />
    <input type="hidden" value="@ViewBag.idCroi" name="CroisiereChoisi" />
}
