@model DataLayer.Model.Croisieres
@{
    ViewBag.Title = "validerReservation";
}

<h2>Félicitation !!!</h2>
<div class="col-sm-12">
   
             
                    <div class="item active">
                        <img alt="" data-src="" src="~/Uploads/Bateaux/@Model.Photos.FirstOrDefault().PhotoName" data-holder-rendered="true" class="img-caroussel">
                    </div>
           
    </div>
    <div class="detailThemeCroisiere">Croisière @Model.Themes.Libelle</div>
    <div class="detailPortDepart">Départ de @Model.Ports.Nom</div>
    <div class="detailDureeSejour">@Model.Durees.NbJours jours</div>
    <div class="detailDateDepart">Départ le @Model.DateDepart.Day/@Model.DateDepart.Month/@Model.DateDepart.Year</div>
    <div>Vous avez regler la somme de<span class="prix-detail"> @Model.Prix € par @Model.Reservations.FirstOrDefault().MoyenPaiement</span></div>    
    <div><ul><li>@Html.ActionLink("Revenir à la page d'accueil","Index","Home")</li></ul></div>
</div>
