@model IEnumerable<DataLayer.Model.Croisieres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer une nouvelle croisière", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durees.NbJours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ports.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promos.Reduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Themes.Libelle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durees.NbJours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ports.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promos.Reduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Themes.Libelle)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.IdCroisiere }) |
                @Html.ActionLink("Détails", "Details", new { id = item.IdCroisiere }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.IdCroisiere })
            </td>
        </tr>
    }

</table>
