@model DataLayer.Model.Croisieres

<div class="col-sm-4 wrapper-panel">
    <div class="destination-panel" id="@Model.IdCroisiere">
        @if (@Model.Photos.Count() !=0)
        {
            <img src="~/Uploads/Bateaux/@Model.Photos.FirstOrDefault().PhotoName" alt="Alternate Text" class="panel-img" />
        }
        <div class="panel-header">
            @Model.Ports.Pays.Nom
        </div>
        <div class="panel-main">
            <div class="price-legend">
                Croisières à partir de
            </div>
            <div class="price-body">
                @Model.Prix* <span class="currency-fr">€</span>
            </div>
        </div>
        <div class="panel-end">
            @if (@Model.Promos.Reduction.HasValue)
            {
                <text> - @Model.Promos.Reduction % </text> ;
            }

        </div>
    </div>
</div>