<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Sea - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Vendor/DatePicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

</head>
<body>
    <div class="main-container">
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Open Sea", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("promo", "Index", "Promotions")</li>
                        <li>@Html.ActionLink("themes", "Index", "Themes")</li>
                        <li>@Html.ActionLink("destinations", "Index", "Destinations")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        @* Balise délimitant le positionnement de la vue partielle du moteur de recherche *@

        <div class="col-sm-3 col-xs-4 partial-search-view">
            @RenderSection("SearchForm", required: false)
        </div>

        @* Position de la vue principale *@

        <div class="container body-content col-sm-7 col-xs-8">

            @RenderBody()

        </div>

        @* Balise délimitant le positionnement de la vue partielle des promotions *@


        <div class="col-sm-2 col-xs-3 partial-promo-view">
            @Html.Action("TopPromo", "Promotions")
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Vendor/DatePicker/js/bootstrap-datepicker.min.js")
        @Scripts.Render("~/Vendor/DatePicker/locales/bootstrap-datepicker.fr.min.js")
        @Scripts.Render("~/Scripts/Shared/SharedScript.js")
        @Scripts.Render("~/Scripts/Search/Index.js")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
