@model DataLayer.Model.Croisieres
@{
    ViewBag.Title = "Détails de la croisière";
}

@section scripts {
    <script src="~/Scripts/Destinations/DetailScript.js"></script>
}

<div class="row">
    <div class="col-sm-5">
        <div data-ride="carousel" class="carousel carousel-height slide" id="carouselDetails" data-interval="5000">
            <div role="listbox" class="carousel-inner">
                @foreach (var item in Model.Photos)
                {
                    <div class="item active">
                        <img alt="" data-src="" src="~/Uploads/Croisieres/@item.PhotoName" data-holder-rendered="true" class="img-caroussel">
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="detailThemeCroisiere">Croisière @Model.Themes.Libelle</div>
            <div class="detailPortDepart">Départ de @Model.Ports.Nom</div>
            <div class="detailDureeSejour">@Model.Durees.NbJours jours</div>
            <div class="detailDateDepart">départ le @Model.DateDepart.Day/@Model.DateDepart.Month/@Model.DateDepart.Year</div>
        </div>
        <div class="row">
            @Model.Description
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            à partir de <span class="prix-detail">@Model.Prix € </span>
        </div>
        <div class="row">
            <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Reservation")'">Réservez</button>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var commentaire in Model.Commentaires)
    {
        @Html.Action("AfficherCommentaire", "Destinations", new { id = commentaire.IdCommentaire })
    }
</div>


@using (@Html.BeginForm("Commenter", "Destinations", FormMethod.Post, new { id = "idFormCommentaire" }))
{
    <div class="form-group row">
        <input type="text" class="form-control col-sm-12 zone-commentaire" name="NomCommentaire" placeholder="Nom : Durand Louis" />
    </div>
    <input type="hidden" name="CroisiereId" value="@Model.IdCroisiere" />
    <input type="hidden" name="CommentaireId" />
    <textarea class="form-control row zone-commentaire" rows="3" placeholder="Commentaires" name="Commentaire"></textarea>
    <button class="pull-right btn btn-default" id="idBouttonCommentaire">Envoyer</button>
}

